.bg-container {
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  height: 100vh;
  background-size: cover;
  font-family: Roboto;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-container {
  background-color: #ffffff;
  margin: 20px;
  padding: 10px;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 12px;
}
img {
  height: 20vh;
  width: 20vh;
}
.appointments-list {
  display: flex;
  justify-content: space-evenly;
}
.started-button {
  display: flex;
  justify-content: center;
  margin: 14px;
  height: 4vh;
}
